$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #a9bbd2;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;

$color__link: #a9bbd2;
$color__link-visited: $color__link;
$color__link-hover: #5d6876;

$color__text-header-site: #8795a7;
$color__text-headers: #5d6876;
$color__text-main: #2c3642;
$color__text-excerpt: #6f7d8f;
$color__text-widget: #6f7d8f;
$color__text-widget-title: #a9bbd2;
$color__text-comment-title: #a9bbd2;

$color__border-link: #a9bbd2;
$color__border-abbr: #666;

$color__overlay-post: #2c3642;

$color__button-shadow: #809abb;
$color__button-hover: #809abb;