/*--------------------------------------------------------------
10.1 Posts and pages
--------------------------------------------------------------*/
@import "layout/grid";
@import "primary/index";
@import "primary/archives";
@import "primary/single-post";

.singular {
	@import "layout/content-sidebar";
}

.page-full-width {
	@import "layout/full-width";
}

.page {
	@import "layout/center-page";
}

/*--------------------------------------------------------------
10.2 Post Formats
--------------------------------------------------------------*/
.single-format-image,
.single-format-video {
	@import "layout/full-width";
}

/*--------------------------------------------------------------
10.3 Comments
--------------------------------------------------------------*/
@import "primary/comments";

/*--------------------------------------------------------------
10.4 Responsive
--------------------------------------------------------------*/
.singular .hentry {
	@media (max-width: 800px) {
		margin-left: 60px;
	}

	@media (max-width: 600px) {
		margin-bottom: 50px;
	}

	@media (max-width: 450px) {
		margin-left: 20px;
		margin-right: 20px;
	}
}

@media (max-width: 450px) {
	.singular .entry-footer .meta-item {
		width: 48%;
	}
}
