button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: none;
	border-radius: 3px;
	background: $color__background-button;
	box-shadow: 0 2px 0 $color__button-shadow;
	color: white;
	cursor: pointer; /* Improves usability and consistency of cursor style between image-type 'input' and others */
	-webkit-appearance: button; /* Corrects inability to style clickable 'input' types in iOS */

	font-family: $font__headers;
	font-weight: 900;
	text-transform: uppercase;
	@include font-size( 1.2 );
	line-height: 40px;
	padding: 0 15px;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	background-color: $color__button-hover;
	box-shadow: 0 2px 0 darken( $color__button-shadow, 10% );
}

button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
	background-color: $color__button-hover;
	box-shadow: 0 2px 0 darken( $color__button-shadow, 10% );
}