.main-navigation {
	float: right;
	padding: 0 40px 30px 0;
	min-height: 55px;

	font-family: $font__headers;
	@include font-size(1.5);
	line-height: 15px;
	font-weight: 700;
	letter-spacing: 1px;
	text-transform: uppercase;

	ul {
		list-style: none;
		margin: 0;
		padding-left: 0;

		// Second level
		ul {
			position: absolute;
			z-index: 25;
			top: 15px;
			padding: 43px 0 0;
			@include hide-dropdown;

			// Third level
			ul {
				position: relative;
				top: 0;
				padding-top: 0;
				@include show-dropdown;

				li a {
					padding-left: 20px;
				}
			}

			li {
				padding: 0;
				line-height: 1.25;
				background-color: white;
			}

			a {
				width: 200px;
				padding: 5px 10px;
			}
		}
	}

	li {
		float: left;
		position: relative;
		padding: 0 15px;

		&:hover > ul,
		&.focus > ul,
		a:focus + ul {
			@include show-dropdown;
		}
	}

	a {
		display: inline-block;
		text-decoration: none;
		outline: none;

		&:focus {
			text-decoration: underline;
		}
	}

	.current_page_item > a,
	.current-menu-item > a {
		color: $color__link-hover;
	}
}

.widgets-toggle {
	margin-top: -7px;

	button {
		padding: 6px;
		width: 32px;
		height: 32px;
		box-shadow: none;
		line-height: 1;

		&:focus {
			outline: none;
		}
	}

	.x {
		display: none;
	}
}

.widgets-animating,
.widgets-visible {
	.widgets-toggle button {
		background-color: $color__button-focus;
	}
	.x {
		display: block;
	}
	.ellipsis {
		display: none;
	}
}

/* Small menu */
.menu-toggle,
.small-widgets-toggle {
	display: none;
	margin-top: -7px;
	vertical-align: bottom;
}

button.menu-toggle {
	padding: 10px;
	font-size: 12px; // force px, not a relative size
	box-shadow: none;
	line-height: 1;

	&:focus {
		outline: none;
	}
}

.toggled {
	.widgets-toggle {
		display: none !important;
	}
	.small-widgets-toggle {
		display: inline-block !important;
	}
}

@media screen and (max-width: 800px) {

	.nav-container {
		position: relative;
	}

	.menu-toggle,
	.small-widgets-toggle {
		position: absolute;
		top: 0;
		right: 20px;
		display: inline-block;
	}

	.has-widgets .menu-toggle {
		right: 67px;
	}

	.long-title {
		.nav-container {
			clear: both;
			min-height: 40px;
		}
	}

	.main-navigation {
		padding-right: 20px;
	}

	.main-navigation ul {
		display: none;
	}

	.main-navigation.toggled {
		margin-top: 30px;
		padding-left: 45px;

		ul {
			display: block;
		}

		li {
			display: block;
			width: 100%;

			ul {
				position: relative;
				float: none;
				top: 0;
				left: 0;
				padding-top: 0;
				@include show-dropdown;
			}

			a { width: 100%; }
		}

		a {
			padding-top: 5px;
			padding-bottom: 5px;
		}
	}
}

@media (max-width: 450px) {
	.main-navigation.toggled {
		padding-left: 5px;
	}
}