
.site-main .comment-navigation,
.site-main .paging-navigation,
.site-main .post-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}

.comment-navigation .nav-previous,
.paging-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}

.comment-navigation .nav-next,
.paging-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}

.comment-navigation,
.post-navigation {
	a {
		display: inline-block;
		padding: 5px 2em;
		max-width: 100%;
		@include link;
		border: 3px solid $color__border-link;
		border-radius: 20px;
	}
	.nav-previous a {
		margin-right: 2px;
	}
	.nav-next a {
		margin-left: 2px;
	}
}

.comment-navigation {
	width: 100%;

	.nav-next,
	.nav-previous {
		width: 100%;
	}

	.nav-previous + .nav-next {
		margin-top: 10px;
	}
}
