h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
	margin-bottom: 0.75em;
	font-family: $font__headers;
	font-weight: 900;

	.entry-content &,
	#tinymce & {
		color: $color__text-headers;
	}
}

h1 {
	@include font-size( 2.8 );
}

h2 {
	@include font-size( 2.1 );
}

h3 {
	@include font-size( 1.8 );
	text-transform: uppercase;
}

h4 {
	@include font-size( 1.8 );
	text-transform: uppercase;
}

h5 {
	@include font-size( 1.7 );
}

h6 {
	@include font-size( 1.7 );
}


.site-header {
	padding-top: 45px;

	.site-branding {
		float:left;
		margin-top: -45px;
	}
}

.site-title {
	margin-bottom: 20px;
	padding-top: 25px;
	padding-left: 60px;
	@include font-size( 3.6 );
	line-height: 1.3;
	text-transform: uppercase;

	a {
		color: $color__text-header-site;
		text-decoration: none;
	}

	@media (max-width: 450px) {
		padding-left: 20px;
	}
}

.page-title {
	margin: 0;
	@include font-size( 2.8 );
	line-height: 1.2;
	text-transform: uppercase;
}


.entry-title {
	color: $color__link;
	@include font-size( 1.8 );
	text-transform: uppercase;

	.search & {
		@include font-size( 2.8 );
		line-height: 1.2;
	}

	.singular & {
		@include font-size( 2.8 );
		margin-bottom: 60px;
		line-height: 1.2;

		@media (max-width: 800px) {
			margin-bottom: 40px;
		}
	}
}

.widget-title {
	margin-bottom: 20px;
	@include font-size( 1.8 );
	font-style: normal;
	text-transform: uppercase;
	color: $color__text-widget-title;
}

.comments-title,
.comment-reply-title {
	margin-bottom: 20px;
	@include font-size( 2.1 );
}

.meta-title {
	margin-bottom: 2px;
	@include font-size( 1.2 );
	color: $color__text-headers;

	&:first-of-type {
		margin-top: 0;
	}
}
