// Galleries
.gallery {
	margin-bottom: 1em;
	@include clearfix;

	.gallery-item {
		float: left;
		text-align: center;

		.gallery-icon {
			a { display: block; }

			img {
				border: none;
				width: 100%;
				height: auto;
				margin-bottom: 0;
			}
		}

		.gallery-caption {
			display: none;
		}
	}

	&.gallery-columns-1.gallery-size-medium {
		display: table;
	}

	&.gallery-columns-1,
	&.gallery-columns-2,
	&.gallery-columns-3 {
		&.gallery-size-thumbnail {
			display: table;
		}
	}

}

@mixin gallery_column ( $margin: 2, $num: 4 ){
	.gallery-columns-#{$num} .gallery-item {
		width: ( 100% - $margin * ( $num - 1 ) ) / $num;
		margin-right: $margin * 1%;
		margin-bottom: $margin * 1%;
	}
	.gallery-columns-#{$num} .gallery-item:nth-of-type(#{$num}n - #{$num}) {
		margin-right: 0;
		clear: right;
	}
}

/* Fluid Gallery Columns
   works well if you remove the default gallery styling
   by adding the following to your functions.php
   add_filter( 'use_default_gallery_style', '__return_false' );
*/
@for $i from 1 through 9 {
	@include gallery_column( 2, $i );
}
