.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}

.comment-list {
	margin: 0 0 100px;
	list-style: none;
	@include font-size( 1.4 );

	.avatar {
		float: left;
	}

	.comment-author {
		color: $color__link;
		font-style: italic;

		a { text-decoration: none; }

		a:hover,
		a:active,
		a:focus {
			color: $color__link;
		}
	}

	.comment-content {
		margin-left: 70px;
	}

	.comment-awaiting-moderation {
		color: $color__text-meta;
		font-style: italic;
	}

	p {
		margin-bottom: .5em;
	}

	.comment-meta {
		font-family: $font__headers;
		font-weight: 900;
		@include font-size( 1.2 );
		text-transform: uppercase;

		a {
			color: $color__link-hover;
			text-decoration: none;
		}

		a:hover,
		a:active,
		a:focus {
			color: $color__link-hover;
		}
	}
}

.comment article {
	min-height: 50px;
	margin-bottom: 30px;
}

.pingback .comment-body {
	margin-bottom: 30px;
}

.comment-list + .comment-navigation {
	@include clearfix;
	margin: -70px 0 100px;
}

.comment-form {
	label {
		display: block;
		margin-bottom: 10px;
		font-family: $font__headers;
		font-weight: 900;
		@include font-size( 1.2 );
		text-transform: uppercase;
		color: $color__text-comment-title;
	}

	input[type="text"],
	input[type="email"],
	input[type="url"],
	textarea {
		background-color: $color__background-body;
	}

	.comment-form-comment {
		margin-bottom: 0;
	}

	.comment-wrap {
		position: relative;
		border-radius: 3px;
		@include divet( left-bottom, white );

		textarea {
			height: 120px;

			&:focus {
				outline: none;
			}
		}
	}

	.form-submit {
		text-align: right;
	}
}

.comments-icon {
	display: block;
	position: absolute;
	top: 30px;
	right: 15px;
	width: 30px;
	height: 35px;
}

.toggle-comments {
	cursor: pointer;
}

.toggle-comments.icon {
	display: block;
	position: absolute;
	top: 65px;
	right: 15px;
	width: 30px;
	height: 8px;

	path {
		fill: white;
		transition: transform 0.1s linear;
		transform-origin: 50% 50%;

		.animating.left &,
		.comments-visible & {
			transform: rotate(180deg);
		}

		.animating.right & {
			transform: rotate(0deg);
		}
	}
}

.toggle-comments.text:before {
	content: attr(data-show);

	.comments-visible & {
		content: attr(data-hide);
	}
}

/**
 * Slide-out comment sidebar.
 *
 * Animates the width of the comments container, from a blue
 * stripe 60px wide, to the full sidebar width of 335px.
 * Animation is controlled by toggeled body classes.
 */

$sidebar-width: 275px;

#content {
	position: relative;
}

#comments-bg {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	background: fade-out( $color__overlay-post, 0.1 );
}

#comments {
	width: $sidebar-width;
	display: none;

	.animating &,
	.comments-visible & {
		display: block;
	}
}

#comments-container,
#comments-bg {
	position: absolute;
	top: 0;
	right: 0;
	padding: 60px 30px;
	overflow: hidden;

	width: 60px;

	-webkit-backface-visibility: hidden;
	-webkit-perspective: 1000;

	color: white;
	z-index: 10;

	.animating & {
		transition: width .25s ease-in-out;
	}

	/***
	 * Slide the comments in
	 */
	.animating.left & {
		width: $sidebar-width + 60px;
	}

	/***
	 * Slide the comments out
	 */
	.animating.right & {
		width: 60px;
	}

	/**
	 * Comments are visible
	 */
	.comments-visible & {
		width: $sidebar-width + 60px;
	}

}
