
.page-header {
	margin-bottom: 60px;
	padding: 100px 20px 100px;
}

.search-form {
	margin: 40px auto;
	padding-left: 2em;
	padding-right: 2em;
	max-width: $size__site-main;
	box-sizing: content-box;

	input[type="submit"] {
		clip: rect(1px, 1px, 1px, 1px);
		position: absolute !important;
		height: 1px;
		width: 1px;
		overflow: hidden;
	}
}

.entry-title a {
	text-decoration: none;
}

.hentry, .page-content {
	margin-left: auto !important;
	margin-right: auto !important;
	margin-bottom: 40px;
	padding-left: 2em;
	padding-right: 2em;
	max-width: $size__site-main;

	@media (max-width: 450px) {
		padding-left: 1em;
		padding-right: 1em;
	}
}

.page-content {
	padding-left: 0;
	padding-right: 0;

	p {
		padding-left: 2em;
		padding-right: 2em;
	}
}

.widget {
	padding-top: 0;
	width: 50%;

	&:first-of-type:last-of-type {
		width: 100%;
	}

	a {
		color: $color__text-widget;

		&:hover,
		&:focus {
			color: $color__text-input-focus;
		}
	}
}
