
body.no-image {
	.entry-header {
		margin-bottom: 60px;
		padding: 100px 0 100px 120px;
		background-color: $color__overlay-post;
	}

	.entry-title {
		margin: 0;
		max-width: $size__site-main;
	}
}

.entry-image {
	margin-bottom: 120px;
	height: 100vh;
	background: no-repeat center;
	background-size: cover;
}

.meta-item {
	margin-bottom: 30px;
	color: $color__link;

	a {
		text-decoration: none;
	}
}