
body.no-image {
	.entry-header {
		margin-bottom: 60px;
		padding: 100px 20px 100px 120px;
		background-color: $color__background-header;

		@media (max-width: 800px) {
			padding-left: 60px;
		}

		@media (max-width: 700px) {
			padding-top: 50px;
			padding-bottom: 50px;
		}

		@media (max-width: 450px) {
			padding-left: 20px;
		}
	}

	&.has-comments .entry-header {
		padding-right: 80px;
	}

	.entry-title {
		margin: 0;
		max-width: $size__site-main;
	}
}

.entry-image {
	margin-bottom: 120px;
	padding-left: 120px;
	background-color: $color__background-header;

	&.full-width {
		height: 90vh;
		max-height: 800px;
		background: no-repeat center;
		background-size: cover;

		@media (max-width: 600px) {
			height: 50vh;
			max-height: 400px;
		}
	}

	&.panorama {
		padding-left: 0;
		text-align: center;
	}

	@media (max-width: 800px) {
		margin-bottom: 60px;
		padding-left: 0;
	}
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.meta-item {
	margin-bottom: 30px;
	color: $color__link;

	a {
		text-decoration: none;
	}

	a:focus {
		text-decoration: underline;
	}
}
