
.entry-image {
	margin-bottom: 120px;
	height: 100vh;
	background: no-repeat center;
	background-size: cover;
}

.meta-item {
	margin-bottom: 30px;
	color: $color__link;

	a {
		text-decoration: none;
	}
}