/**
 * Post layout
 */

.hentry {
	margin: 0 60px 100px 120px;
	max-width: $size__site-main;
	overflow: hidden;
}

&.has-comments .hentry {
	// 80px: 60px comment bar + 20px space
	margin-right: 80px;
}

.entry-content {
	float: left;
	margin: 0 #{-$size__site-sidebar} 0 0;
	width: 100%;
}

.entry-content .wrapper {
	margin: 0 #{$size__site-sidebar} 0 0;
}

.entry-footer {
	clear: none;
	float: right;
	overflow: hidden;
	padding-left: 75px;
	width: $size__site-sidebar;

	@media (max-width: 600px) {
		margin-top: 30px;
	}
}

.entry-content,
.entry-footer {
	&:before,
	&:after {
		content: none;
	}
}

.post-navigation {
	margin: 0;

	.nav-links {
		margin: 0 20px 100px 120px;
		max-width: $size__site-main;
		overflow: hidden;

		@media (max-width: 800px) {
			margin-left: 60px;
		}

		@media (max-width: 450px) {
			margin-left: 20px;
			margin-right: 20px;
		}
	}
}

&.no-comments .nav-links {
	margin-right: 60px;
}

&.has-comments .post-navigation {
	margin-right: 60px;
}

@media (max-width: 600px) {
	@import "./full-width";
}
