/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .paging-navigation, /* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before */
.infinity-end.neverending .site-footer {
	display: block;
}

/* Need the class too, for specificity-- to ensure we override the jetpack styles. */
.infinite-scroll #infinite-handle {
	clear: both;
	padding: 30px;
	background: $color__background-header;
	text-align: center;
	cursor: pointer;

	span {
		padding: 0;
		background: transparent;
		color: $color__link;
		font-family: $font__headers;
		font-weight: 900;
		@include font-size( 2.1 );
		text-transform: uppercase;
	}

	button {
		box-shadow: none;
	}
}